<ng-container *ngIf="resultadoBotaoAdicionar ? validaResultadoAdicionar() : false">
    <div class="alert alert-success" role="alert">{{resultadoBotaoAdicionar}}</div>
</ng-container>
<div>
    <div class="lista-header" style="background-color: #151F2E; color: #00719E;">
        <div class="row">
            <div class="col col-6 header-element">
                <h3>{{nrItensLista}}</h3>
                <p>ITENS NESTA LISTA</p>
            </div>
            <div class="col col-6 header-element">
                <h3>{{avaliacaoMedia}}</h3>
                AVALICAÇÃO MÉDIA DOS ITENS
            </div>
        </div>
    </div>
    <div class="lista-content">
            <div *ngFor="let item of lista.itens" class="item">  
                <div class="card">
                    <div class="card-bg">
                        <img width="240px"  height="320px" src="{{item.urlImagem}}" alt=""/>
                    </div>
                    <div class="card-info" style="width: 100%">
                        <h3>{{item.nome}}</h3>
                        <p>Score: {{item.avaliacao}}</p>
                        <p>Status: {{item.status}}</p>
                        <div class="buttons">
                            <button style="background-color: transparent; border: none;" (click)="editarItem(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFA500" class="bi bi-brush-fill" viewBox="0 0 16 16">
                                    <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
                                </svg>
                            </button>
                            <button style="background-color: transparent; border: none;" (click)="deleteItem(lista.id, item)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                                    <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                  </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-delete">
        <button class="save-btn" type="submit" (click)="deleteLista()">Excluir Lista</button>
    </div>
<app-modal [(mostrar)]="mostrarAddList">
    <add-to-list [cardItem]="cardAtual" [criandoItem]="exibirItem" [(resultadoBotaoAdicionar)]="resultadoBotaoAdicionar" [listaSelecionada]="lista.id" [idUsuario]="idUsuario"></add-to-list>
</app-modal>
