<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Lista</title>
</head>
<body>
    <header>
        
        <div class="navigation">
            <span class="icon"><i class="bi bi-person"></i></span>
            <label class="usuario">{{usuario.nome}}</label>
            <button class="btn" style="color: white;" type="button" (click)="abreBarraPesquisa()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" data-icon="search" viewBox="0 0 512 512">
                    <path data-v-17620a08="" fill="currentColor"
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class="">
                    </path>
                </svg>
            </button>
        </div>
    </header>
    <app-modal [(mostrar)]="mostrarQuickSearch"> <quickseach></quickseach> </app-modal>
    <app-modal [(mostrar)]="mostrarCriarLista" topPosition="50%"> 
        <app-create_list [(mostrar)]="mostrarCriarLista" [(resultadoCriarLista)]="resultadoCriarLista"></app-create_list>
    </app-modal>
    <ng-container *ngIf="resultadoCriarLista ? validaResultadoAdicionar() : false">
        <div class="alert alert-success" role="alert">{{resultadoCriarLista}}</div>
    </ng-container>
    <section class="menu">
        <div>
            <button [class.active]="isVisaoGeral()" (click)="voltarVisaoGeral()">Visão geral</button>
            <button [class.active]="isListaAtual(lista.id)" *ngFor="let lista of listas" (click)="ativarListar(lista.id)">{{lista.nome}}</button>
            <button [class.active]="isCriarLista()" (click)="abrirModal()">+ Criar Lista</button>
        </div>
    </section>

    <section class="main-content">
        <ng-container *ngIf="listaAtual > 0" >
            <app-get-list [idLista]="listaAtual" [idUsuario]="getID()"></app-get-list>
        </ng-container>
    </section>

    <footer>
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
