<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Lista</title>
</head>
<body>
    <header>
        <div class="header">
            <span class="icon"><i class="bi bi-person"></i></span>
            <label class="usuario">{{usuario.nome}}</label>
        </div>
    </header>
    <app-modal [(mostrar)]="mostrarCriarLista" topPosition="50%"> 
        <app-create_list [(mostrar)]="mostrarCriarLista" [(resultadoCriarLista)]="resultadoCriarLista"></app-create_list>
    </app-modal>
    <ng-container *ngIf="resultadoCriarLista ? validaResultadoAdicionar() : false">
        <div class="alert alert-success" role="alert">{{resultadoCriarLista}}</div>
    </ng-container>
    <section class="menu">
        <div>
            <button [class.active]="isVisaoGeral()" (click)="voltarVisaoGeral()">Visão geral</button>
            <button [class.active]="isListaAtual(lista.id)" *ngFor="let lista of listas" (click)="ativarListar(lista.id)">{{lista.nome}}</button>
            <ng-container *ngIf="hasPrivilegio"><button [class.active]="isCriarLista()" (click)="abrirModal()">+ Criar Lista</button></ng-container>
        </div>
    </section>

    <section class="main-content">
        <ng-container *ngIf="listaAtual > 0" >
            <app-get-list [idLista]="listaAtual" [idUsuario]="getID()" [hasPrivilegio]="hasPrivilegio"></app-get-list>
        </ng-container>
    </section>

    <footer>
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
