<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Lista</title>
</head>
<body>
    <header>
        
        <div class="navigation">
            <span class="icon"><i class="bi bi-person"></i></span>
            <label class="usuario">{{usuario.nome}}</label>
        </div>
    </header>
    <section class="menu">
        <div>
            <button [class.active]="isVisaoGeral()" (click)="voltarVisaoGeral()">Visão geral</button>
            <button [class.active]="isListaAtual(lista.id)" *ngFor="let lista of listas" (click)="ativarListar(lista.id)">{{lista.nome}}</button>
            <button [class.active]="isCriarLista()" style="color: white;" (click)="abrirModal()">+ Criar Lista</button>
        </div>
    </section>

    <section class="main-content">
        <ng-container *ngIf="listaAtual > 0" >
            <app-get-list [idLista]="listaAtual"></app-get-list>
        </ng-container>
    </section>

    <footer>
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
