.header{
    display: block; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: center;
    height: 250px;
}

.content{
    display: grid;
    gap: 40px; 
    grid-template-columns: 308px auto; 
    margin-top: 30px; 
    position: relative; 
}
.capa{
    background-color: rgb(44, 28, 44);
    border-radius: 2px;
    box-shadow: 0 0 29px rgba(49,54,68,.25);
    margin-top: 15px;
    width: 100%;
    
}

.sidebar{
    background: rgb(36, 36, 36);
    width: 308px;
    height: 1000px;
    .capa-wrapt, .card-dois{
        margin-left: 20px;
        position: relative;
        padding: 5%;
    }
}

.capa-wrapt{
    margin-top: -200px;
}

.card-info{
    margin-top: 600px;
    background: linear-gradient(0deg, rgb(36, 36, 36) 0%, rgba(114,114,114,1) 5%, rgba(194,194,194,1) 92%);
    width: 215px;
    padding: 10px;
}

.overview {
    width: auto;
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(73,5,68,1) 86%);
    h2{
        margin: 20px 0 0 30px;
        color: rgb(166, 167, 168);
    }
}

.staff{
    
    li{
        list-style: none;
        color: rgb(166, 167, 168);
    }

    img{
        width: 150px;
        height: 150px;
    }
}

.ajuste{
    margin: 20px 20px 20px 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}
