.header{
    display: flex; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: center;
    height: 550px;
}
.main{
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(73,5,68,1) 86%);
    width: auto;

}
.content{
    display: grid;
    gap: 40px; 
    grid-template-columns: 308px auto; 
    margin-top: 30px; 
    position: relative; 
}
.capa{
    background-color: rgb(44, 28, 44);
    border-radius: 2px;
    box-shadow: 0 0 29px rgba(49,54,68,.25);
    // margin-top: 15px;
    width: 100%;
    height: 550px;
}

.sidebar{
    width: 308px;
    height: 1100px;
    .capa-wrapt, .card-dois{
        margin-left: 20px;
        position: relative;
        padding: 5%;
    }
    overflow: auto;
}

.capa-wrapt{
    margin-top: -200px;
}

.card-info{
    margin-top: 710px;
    // background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(73,5,68,1) 86%);
    width: 215px;
    padding: 10px;
    color: #fff;
}

.overview {
    width: auto;
    // background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(73,5,68,1) 86%);
    h2{
        margin: 20px 0 0 30px;
        color: rgb(166, 167, 168);
    }
    display: inline-flex;
    overflow: auto;
}

.staff{
    
    li{
        list-style: none;
        color: rgb(166, 167, 168);
    }

    img{
        width: 150px;
        height: 150px;
    }
}

.ajuste{
    margin: 20px 20px 20px 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}
.logo{
    margin-left: -95%;
    margin-top: -45px;
    width: 85px;
    height: 85px;
}

.icon, .navigation{
    width: 45%;
    display: inline-block;
}

.navigation{
    margin-left: 70px;
}

.icon{
    h1{
        margin-left: -5000px ;
    }
}

.login i{ 
    font-size: 30px;
    color: rgb(148, 18, 148);
    float: inline-end;
    margin-left: 30px;
}

nav{
    display: inline;
}

nav ul {
    float: inline-end;
    list-style: none;
    margin: 10px 10px 10px 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    :hover{
        color: #fff;
    }
}

nav a {
    text-decoration: none;
    color: rgb(148, 18, 148);
    font-weight: bold;

    :hover{
        color: #fff;
    }
}
.titulo{
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.description{
    text-align: justify;
}
button {
    background-color: #6200ff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.save-btn{
    text-align: center;
}