<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="header" [style.background-image]="'url(' + filme.urlImagemFundo + ')'">
        <div class="header-content" style="display: grid; grid-column-gap: 30px;   grid-template-columns: 215px auto;">
            <div class="titulo">
                <h3>{{filme.titulo}}</h3>
            </div>
            <div class="generos">
                <span *ngFor="let genero of filme.generos">{{genero}} </span>
            </div>
            <div class="descricao">
    
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="sidebar">
            <div class="capa-wrapt">
                <div class="capa-wrapt-inner" style="position: absolute;">
                    <img src="{{filme.urlCapa}}" width="215px" height="322px" alt="" class="capa">
                    <div class="acoes">
                        botao add to list
                    </div>
                </div>
            </div>
    
            <div class="capa-wrapt">
                <div class="capa-wrapt-inner" style="position: absolute;">
                    <div class="card-info">
                        <label>
                            <h2>Titulo Original</h2>
                            <h3>{{filme.tituloOriginal}}</h3>
                        </label>
                        <Label>
                            <h2>Situação</h2>
                            <h3>{{filme.situacao}}</h3>
                        </Label>
                        <label>
                            <h2>Idioma Original</h2>
                            <h3>{{filme.idiomaOriginal}}</h3>
                        </label>
                        <label>
                            <h2 >Diretores</h2>
                            <h3  *ngFor="let propriedade of total" >{{filme.diretoresEscritores[propriedade].nome}}</h3>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="overview">
            <h2>Staff</h2>
            <div class="staff" >
                <div class="ajuste">
                    <ul *ngFor="let propriedade of total" style="display: flex;">
                        <li><img src="{{filme.diretoresEscritores[propriedade].urlImagem}}"></li>
                        <div style="margin-left: 20px;">
                            <li>{{filme.diretoresEscritores[propriedade].cargo}}</li>
                            <li>{{filme.diretoresEscritores[propriedade].nome}}</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>