<div class="header" [style.background-image]="'url(' + filme.urlImagemFundo + ')'">

    
    <div class="header-content" style="display: grid; grid-column-gap: 30px;   grid-template-columns: 215px auto;">
        <div class="titulo">
            <h3>{{filme.titulo}}</h3>
        </div>
        <div class="generos">
            <span *ngFor="let genero of filme.generos">{{genero}} </span>
        </div>
        <div class="descricao">

        </div>
    </div>
</div>

<div class="content">
    <div class="sidebar">
        <div class="capa-wrapt">
            <div class="capa-wrapt-inner" style="position: absolute;">
                <img src="{{filme.urlCapa}}" width="215px" height="322px" alt="" class="capa">
                <div class="acoes">
                    botao add to list
                </div>
            </div>
        </div>

        <div class="card-dois">
            <div>
            </div>
        </div>
    </div>
    <div class="overview">

    </div>
</div>