.header{
    display: block; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: center;
    height: 250px;
}

.content{
    display: grid;
    gap: 40px; 
    grid-template-columns: 308px auto; 
    margin-top: 30px; 
    position: relative; 
}
.capa{
    background-color: rgb(44, 28, 44);
    border-radius: 2px;
    box-shadow: 0 0 29px rgba(49,54,68,.25);
    margin-top: 15px;
    width: 100%;
    
}

.sidebar{
    background: rgb(36, 36, 36);
    width: 308px;
    height: 1000px;
    .capa-wrapt, .card-dois{
        margin-left: 20px;
        position: relative;
        padding: 5%;
    }
}

.capa-wrapt{
    margin-top: -200px;
}

.card-dois{
    margin-top: 400px;
}

.overview {
    width: auto;
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(73,5,68,1) 86%);
}