/* create_list.component.css */
label {
  margin-bottom: 25px;
}

input, select {
  margin-bottom: 16px;
}

button {
  background-color: #6200ff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#adicionarLista {
  position: absolute;
  padding: 24px;
  width: 1000px;
  height: 400px;
  color: silver;
  background: #180519;
  margin-top: 10%;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.leave-btn{
  margin-left: 20px;
}
