/* create_list.component.css */
.modal-body{
  left: 15%;
}

label {
  margin-bottom: 25px;
}

input, select {
  margin-bottom: 16px;
}

button {
  background-color: #6200ff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#adicionarLista {
  position: absolute;
  padding: 24px;
  width: 1000px;
  height: 400px;
  color: silver;
  background: #180519;
}