<div id="adicionarLista">
  <h2>Adicionar Nova Lista</h2>
  <form>
    <input type="hidden" name="id_usuario" id="id_usuario" [value]="usuario.id">
    <label for="nome_lista" class="form-label">Nome:</label>
    <input type="text" class="form-control" name="nome_lista" id="nome_lista" [value]="nome_lista">
    <label for="is_private" class="form-label">Pública:</label>
    <select class="form-select" name="is_private" id="is_private" [value]="is_private">
      <option value="1">Sim</option>
      <option value="0">Não</option>
    </select>
    <br>
    <button class="save-btn" type="submit" (click)="criarLista()">Criar</button>
    <br>
  </form>
</div>