<div id="adicionarItem">
  <div class="item-header">
    <img src="{{cardItem?.urlImagem}}" class="img-item" alt="" style="border: 2px solid;">
    <div class="title" >{{cardItem?.nome}}</div>
    <button class="save-btn" (click)="adicionarItem()">Save</button>
    <button class="leave-btn" type="submit" (click)="cancelar()">Cancelar</button>
  </div>
  <div class="item-content">
    <div class="row">
      <div class="col-3">
        <label for="listaSelect" class="form-label">Lista</label>
          <select id="listaSelect" class="form-select" [(ngModel)]="listaSelecionada" (change)="listaSelecionadaChange($event.target)">
            <option *ngFor="let lista of listasUsuario" [ngValue]="lista.id" >{{lista.nome}}</option>

            <ng-container *ngIf="listaVazia()">
              <option [value]="undefined" selected></option>
            </ng-container>
          </select>
      </div>
      <div class="col-3">
        <label for="disabledTextInput" class="form-label">Score</label>
        <input type="number" max="10" min="1" name="score" class="form-control" [(ngModel)]="criandoItem.avaliacao">
      </div>
      <div class="col-3">
        <label for="disabledTextInput" class="form-label">Status</label>
        <select id="statusSelect" class="form-select" [(ngModel)]="criandoItem.status" (change)="statusChange($event.target)">
          <option [value]="'assistindo'" selected>Assistindo</option>
          <option [value]="'completo'">Completo</option>
          <option [value]="'dropado'">Dropado</option>
          <option [value]="'planeja assistir'">Planeja Assistir</option>
        </select>
      </div>
    </div>
    <div>
      <div class="form-label">Comentários</div>
      <textarea autocomplete="off" class="item-input-textarea" name="comentario" [(ngModel)]="criandoItem.comentario"></textarea>
    </div>
  </div>
  
</div>