<div id="adicionarItem">

  <div class="item-header">
    <img src="{{cardItem?.urlImagem}}" class="img-item" alt="">
    <div class="title" >{{cardItem?.nome}}</div>
    <button class="save-btn" (click)="adicionarItem()">Save</button>
  </div>
  <div class="item-content">
    <div class="row">
      <div class="col-3">
        <label for="listaSelect" class="form-label">Lista</label>
          <ng-container *ngIf="listasUsuario">
            <select id="listaSelect" class="form-select" [(ngModel)]="listaSelecionada">
              <option value="{{lista.id}}" *ngFor="let lista of listasUsuario">{{lista.nome}}</option>
            </select>
          </ng-container>
      </div>
      <div class="col-3">
        <label for="disabledTextInput" class="form-label">Score</label>
        <input type="number" max="10" min="1" name="score" class="form-control" [(ngModel)]="criandoItem.avaliacao">
      </div>
      <div class="col-3">
        <label for="disabledTextInput" class="form-label">Status</label>
        <select id="statusSelect" class="form-select" [(ngModel)]="criandoItem.status">
          <option value="assistindo">Assistindo</option>
          <option value="completo">Completo</option>
          <option value="dropado">Dropado</option>
          <option value="planeja assistir">Planeja Assistir</option>
        </select>
      </div>
    </div>
    <div class="" >
      <div class="form-label">Comentários</div>
      <textarea autocomplete="off" class="item-input-textarea" name="comentario" [(ngModel)]="criandoItem.comentario"></textarea>
    </div>
  </div>
</div>