<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMoovie - Login</title>
</head>

<body>
    <div class="login-container">
        <img class="logo" src="../../../assets/logo.v.2.svg" alt="">
        <h2>Login</h2>
        <form class="login-form" (ngSubmit)="verificarUsuario(user)">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required [(ngModel)]="user.email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required [(ngModel)]="user.senha">
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="signup-link">
            <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
        </div>
    </div>
</body>

</html>