<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMoovie - Home</title>
</head>

<body>
    <app-navbar></app-navbar>

    <div class="content">
        <div class="ajuste" style="
                justify-items: center;
                text-align: center;
                display: grid; margin: 50px 0 20px 0;">
            <div class="populares">
                <h2>Filmes Populares</h2>
                <div class="lista-populares">
                    <ul *ngFor="let filmes of populares">
                        <li><img src='{{filmes.urlCapa}}'alt=""></li>
                        <li class="titulo">{{filmes.titulo}}</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <footer>
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>

</html>