<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMoovie - Home</title>
</head>

<body>
    <app-navbar></app-navbar>

    <div class="content">
        <div class="ajuste" style="
                justify-items: center;
                text-align: center;
                display: grid; margin: 50px 0 20px 0;">
            <div class="populares">
                <h2>Filmes Populares</h2>
                <div class="lista-populares">
                    <ul *ngFor="let movie of populares">
                        <li>
                            <a [routerLink]="['/filme', movie.id, movie.titulo]">
                                <img class="capa" src="{{movie.urlCapa}}" alt="">
                            </a>
                        </li>
                        <li class="titulo">{{movie.titulo}}</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <footer style="z-index: 2;">
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>

</html>