<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMoovie - Home</title>
</head>

<body>
    
    <header>
        <div class="icon">
            <h1>MyMoovieList</h1>
        </div>
        <div class="navigation">
            <nav>
                <a class="login" routerLink="/login"><i class="bi bi-person"></i></a>
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="#">Contato</a></li>    
                </ul>
            </nav>
        </div>
    </header>

    <section class="main-content">
        <h2>Explore nosso conteúdo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nullam auctor libero et urna lacinia, nec lacinia est malesuada.
        </p>
    </section>

    <footer>
        <p>&copy; 2023 MyMoovieList. Todos os direitos reservados.</p>
    </footer>
</body>

</html>